---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>Teaching Experience</h2>

## Courses Taught

### Deep Learning for Computer Vision
- **2023-2024 Academic Year**
- **2024-2025 Academic Year**
- **2025-2026 Academic Year**

## Student Projects Supervised

a) **Simon Perrin & Léopold Cudilla** - Virtual reconstruction of Papyrus Bodmer 1

b) **Yunfan Li** - Segmentation of Leibniz manuscripts with U-Net

c) **Mohammed Maghraoui & Yassine Hamimaz** - Segmentation and Detection of Mathematical Symbols in Leibniz's Manuscripts

d) **Mamisoa Randrianarimanana & Xianxiang Zhang** - Handwritten Text Recognition of Leibniz's Manuscripts

e) **Dongyang Mao & Shenhong Kong** - Handwritten Mathematical Expression Recognition with Self-Supervised Learning

f) **Ze Qian** - Mathematical Expression Recognition in Historical Documents

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
