---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>Teaching Experience</h2>

<h3>Courses Taught</h3>

<h3>Deep Learning for Computer Vision</h3>
<ul>
  <li>2023-2024</li>
  <li>2024-2025</li>
  <li>2025-2026</li>
</ul>

<h3>Student Projects Supervised</h3>

<ol>
  <li><strong>Simon Perrin & Léopold Cudilla</strong> - Virtual reconstruction of Papyrus Bodmer 1</li>
  <li><strong>Yunfan Li</strong> - Segmentation of Leibniz manuscripts with U-Net</li>
  <li><strong>Mohammed Maghraoui & Yassine Hamimaz</strong> - Segmentation and Detection of Mathematical Symbols in Leibniz's Manuscripts</li>
  <li><strong>Mamisoa Randrianarimanana & Xianxiang Zhang</strong> - Handwritten Text Recognition of Leibniz's Manuscripts</li>
  <li><strong>Dongyang Mao & Shenhong Kong</strong> - Handwritten Mathematical Expression Recognition with Self-Supervised Learning</li>
  <li><strong>Ze Qian</strong> - Mathematical Expression Recognition in Historical Documents</li>
</ol>

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
